name: GitHub Space Shooter

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Create output directory
        run: mkdir -p dist

      - name: GitHub Space Shooter
        uses: czl9707/gh-space-shooter@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          username: harshitar31
          output-path: dist/space-shooter.gif
